<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buncheoleasy.user.infrastructure.UserMapper">

    <!-- User ResultMap -->
    <resultMap id="userResultMap" type="User">
        <constructor>
            <idArg column="id" javaType="Long"/>
            <arg column="provider" javaType="String"/>
            <arg column="provider_id" javaType="String"/>
            <arg column="nickname" javaType="String"/>
            <arg column="email" javaType="String"/>
            <arg column="phone_number" javaType="String"/>
            <arg column="profile_completed" javaType="Boolean"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
            <arg column="updated_at" javaType="java.time.LocalDateTime"/>
            <arg column="deleted_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <!-- 유저 저장 -->
    <insert id="insert" parameterType="User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (provider,
                           provider_id,
                           nickname,
                           email,
                           phone_number,
                           profile_completed,
                           created_at,
                           updated_at)
        VALUES (#{socialInfo.provider},
                #{socialInfo.providerId},
                #{nickname.value},
                #{email.value},
                #{phoneNumber.value},
                #{profileCompleted},
                NOW(),
                NOW())
    </insert>

    <!-- ID로 유저 조회 -->
    <select id="findById" resultMap="userResultMap">
        SELECT id,
               provider,
               provider_id,
               nickname,
               email,
               phone_number,
               profile_completed,
               created_at,
               updated_at,
               deleted_at
        FROM users
        WHERE id = #{id}
          AND deleted_at IS NULL
    </select>

    <!-- provider, provider_id로 유저 조회 -->
    <select id="findBySocialInfo" resultMap="userResultMap">
        SELECT id,
               provider,
               provider_id,
               nickname,
               email,
               phone_number,
               profile_completed,
               created_at,
               updated_at,
               deleted_at
        FROM users
        WHERE provider = #{provider}
          AND provider_id = #{providerId}
          AND deleted_at IS NULL
    </select>

    <!-- ID로 유저 존재 여부 확인 -->
    <select id="existsById" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM users
        WHERE id = #{id}
          AND deleted_at IS NULL
    </select>

    <update id="updateDeletedAt">
        UPDATE users
        SET deleted_at = #{deletedAt},
            updated_at = NOW()
        WHERE id = #{id}
    </update>

</mapper>
