<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buncheoleasy.payment.infrastructure.PaymentMapper">

  <resultMap id="paymentResultMap" type="Payment">
    <constructor>
      <idArg column="id" javaType="Long"/>
      <arg column="participation_id" javaType="Long"/>
      <arg column="tx_type" javaType="PaymentTxType"/>
      <arg column="payment_phase" javaType="PaymentPhase"/>
      <arg column="order_id" javaType="String"/>
      <arg column="payment_key" javaType="String"/>
      <arg column="parent_payment_id" javaType="Long"/>
      <arg column="amount" javaType="_long"/>
      <arg column="status" javaType="PaymentStatus"/>
      <arg column="reason" javaType="String"/>
      <arg column="requested_at" javaType="java.time.LocalDateTime"/>
      <arg column="approved_at" javaType="java.time.LocalDateTime"/>
      <arg column="created_at" javaType="java.time.LocalDateTime"/>
      <arg column="updated_at" javaType="java.time.LocalDateTime"/>
    </constructor>
  </resultMap>

  <!-- 결제 저장 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO payments (participation_id,
                          tx_type,
                          payment_phase,
                          order_id,
                          payment_key,
                          parent_payment_id,
                          amount,
                          status,
                          reason,
                          requested_at,
                          approved_at,
                          created_at,
                          updated_at)
    VALUES (#{participationId},
            #{txType},
            #{paymentPhase},
            #{orderId},
            #{paymentKey},
            #{parentPaymentId},
            #{amount},
            #{status},
            #{reason},
            #{requestedAt},
            #{approvedAt},
            NOW(),
            NOW())
  </insert>

  <!-- 결제 상태 수정 -->
  <update id="update">
    UPDATE payments
    SET payment_key = #{payment.paymentKey},
        status      = #{payment.status},
        reason      = #{payment.reason},
        approved_at = #{payment.approvedAt},
        updated_at  = NOW()
    WHERE id = #{payment.id}
      AND status = #{expectedStatus}
  </update>

  <!-- 주문 ID로 결제 조회 -->
  <select id="findByOrderId" resultMap="paymentResultMap">
    SELECT id,
           participation_id,
           tx_type,
           payment_phase,
           order_id,
           payment_key,
           parent_payment_id,
           amount,
           status,
           reason,
           requested_at,
           approved_at,
           created_at,
           updated_at
    FROM payments
    WHERE order_id = #{orderId}
  </select>

  <select id="findLatestPaymentByParticipationIdAndPaymentPhase" resultMap="paymentResultMap">
    SELECT id,
           participation_id,
           tx_type,
           payment_phase,
           order_id,
           payment_key,
           parent_payment_id,
           amount,
           status,
           reason,
           requested_at,
           approved_at,
           created_at,
           updated_at
    FROM payments
    WHERE participation_id = #{participationId}
      AND payment_phase = #{paymentPhase}
      AND tx_type = 'PAYMENT'
    ORDER BY created_at DESC, id DESC
    LIMIT 1
  </select>


</mapper>
